
body {
	background-color: #E6E6E6;
	color: #000;
	font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

#sidhuvud h1 {
	color: #B0302B;
}

#sidhuvud h2 {
	color: #000000;
}
#sida {
    width: 700px;
    margin: 0 auto;
	}
#innehallsforteckning {
float: left;
width: 300px;
}

#dikter {
float: right;
width: 400px;
}

#sidhuvud {
width: 700px;
}

#sidfot {
	font-size: 75%;
	clear: both;
 	width: 700px;
}

.ar {
 font-style: italic;
 }

#dikter h4 {
	color: #B0302B;
}
 
#innehallsforteckning ul {
	list-style-type: none;
	padding: 0;
}

a, a:visited {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #B0302B;
}